<card-component [title]="'Login'" [subtitle]="'Teste o meu primeiro projeto Angular!'">
<form (submit)="$event.preventDefault(); formSubmit.emit(formData)">

    <input-auth [type]="'email'" [value]="formData.email" (valueChange)="emailChange.emit($event)" [label]="'Email'"></input-auth>

    <input-auth [type]="'password'" [value]="formData.password" (valueChange)="passwordChange.emit($event)" [label]="'Senha'"></input-auth>

    @if(isArray(error)){
        <ul class="error-list">
            @for(err of error; track $index){
                <li class="error-message">{{err}}</li>
            }
        </ul>
    } @else if(error){
        <p class="error-message">{{error}}</p>
    } @else if(loading){
        <div class="spinner"></div>
    }

    <p class="signup-link">
    Não tem conta? 
    <a routerLink="/signup">Cadastre-se</a>
    </p>

    <button-auth [disabled]="loading" [label]="'Entrar'"></button-auth>
</form>
</card-component>